<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登入 - 天猫超市养成互动</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/hoowuadmin.v1.2.1/hoowuui/css/layui.css" media="all">
    <link rel="stylesheet" href="/hoowuadmin.v1.2.1/style/admin.css" media="all">
    <link rel="stylesheet" href="/hoowuadmin.v1.2.1/style/login.css" media="all">
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <form class="layui-form" action="/admin/api/login">
        <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>天猫超市养成互动</h2>
            <p>天猫超市养成互动-后台管理</p>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
            </div>
        </div>
    </div>
    </form>


</div>

<script src="/hoowuadmin.v1.2.1/hoowuui/layui.js"></script>
<script>
    layui.config({
        base: '/hoowuadmin.v1.2.1/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user','jquery'], function(){
        var $ = layui.jquery
            ,form = layui.form;
        form.render();
        //监听提交
        form.on('submit(LAY-user-login-submit)', function(obj){
            $.ajax({
                url: '/admin/api/login',
                type: "POST",
                data:obj.field,
                dataType: "json",//回调函数接收数据的数据格式
                async: false,//这得注意是同步
                success: function(res){
                    if (res.code==0) {
                        //登入成功的提示与跳转
                        layer.msg('登入成功', {
                            offset: '15px'
                            ,icon: 1
                            ,time: 1000
                        }, function(){
                            location.href = '/admin/index'; //后台主页
                        });
                    }
                    else {
                        layer.msg('登录失败,请重试',{
                            offset: '15px'
                            ,icon: 0
                        });
                    }
                }
            });

            return false;
        });

    });
</script>
</body>
</html>